header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 49px;
    position: relative;
}

.logo-link {
    width: 68px;
    height: 64px;
    display: inline-block;
}

.navgation-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked~nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    display: none;
}

.listed-links {
    list-style: none;
}

.listed-links li {
    margin: 16px 0;
}

.listed-links li a {
    color: var(--text-secundary-color);
    text-decoration: none;
    font-family: var(--);
}

@media screen and (min-width: 768px) {
    .navgation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navgation-menu label {
        display: none;
    }

    .navgation-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navgation-menu nav {
        display: block;

    }
}